    class <<class-name>>
    {
      public:
        /// --- constructors and destructor -------------------------------------------
        <<class-name>>() = default;
        ~<<class-name>>() = default;
        <<class-name>>(const <<class-name>>& o) = default;
        <<class-name>>(<<class-name>>&& o) = default;
        <<class-name>>& operator=(const <<class-name>>& o) = default;
        <<class-name>>& operator=(<<class-name>>&& o) = default;
        /// --- buffer dimension ------------------------------------------------------
        static constexpr const size_t buf_dim = <<buf-size>>; //# of rows
        /// --- <<class-name>> buffer widths ------------------------------------------
        /// ------ char values length without trailing zero ---------------------------
        /// ------ atomic and structures size in bytes --------------------------------
##    for el in buf
        static constexpr const size_t l_<<el.name>> = <<el.size>>;
##    endfor
        /// --- getters ---------------------------------------------------------------
##    for el in buf
        [[nodiscard]]<<el.as-result>> <<el.name>>(size_t row=0) const;
##    endfor
        /// --- null getters ----------------------------------------------------------
##    for el in buf
        [[nodiscard]]bool is_<<el.name>>_null(size_t row=0) const;
##    endfor
        /// --- length getters --------------------------------------------------------
##    for el in buf
        [[nodiscard]]size_t <<el.name>>_length(size_t row=0) const;
##    endfor
        /// --- setters ---------------------------------------------------------------
##    for el in buf
        void set_<<el.name>>(const <<el.as-param>>& v, size_t row=0);
##    endfor
        /// --- null setters ----------------------------------------------------------
##    for el in buf
        void set_<<el.name>>_null(size_t row=0);
##    endfor
      /// --- <<class-name>> types constant array  ----------------------------------
      static consteval span_buffer_dscr_const buffer_description_const() noexcept
      {
        // constexpr const auto max_column_no = <<buf|length>>; // # of elements in buffer
        constexpr static const buffer_dscr_const arr[] = {
          // clang-format off
##        for el in buf
          {<< el.name | pad(17, "\"", "\",") >> rtl::sql_cat::<<el.category|pad(10, "",",")>> <<el.base-type|pad(24, "\"", "\", ")>>rtl::sql_type::<<el.type|pad(26, "",", ")>><<el.size|lpad(6, "",", ")>><<el.digits|lpad(2)>>},
##        endfor
          // clang-format on
        };
        return arr;
      }
      /// --- max column name width  ------------------------------------------------
      static consteval size_t max_column_name_len() noexcept
      {
        size_t max = 0;
        for (const auto& el: buffer_description_const())
          max = std::max(el.name.size(), max);
        return max;
      }
      /// --- max attribute type name width  ----------------------------------------
      static consteval size_t max_column_type_name_len() noexcept
      {
        size_t max = 0;
        for (const auto& el: buffer_description_const())
          max = std::max(el.base_type.size(), max);
        return max;
      }
      /// --- <<class-name>> max category name width  -------------------------------
      static constexpr size_t max_category_name_len() noexcept
      {
        size_t max = 0;
        for (const auto& el: buffer_description_const())
          switch(el.category)
          {
            // clang-format off
            case rtl::sql_cat::atomic:    {max = std::max(cstr_t("atomic").size(), max); break;}
            case rtl::sql_cat::structure: {max = std::max(cstr_t("structure").size(), max); break;}
            case rtl::sql_cat::c_string:  {max = std::max(cstr_t("c_string").size(), max); break;}
            case rtl::sql_cat::w_string:  {max = std::max(cstr_t("w_string").size(), max); break;}
            case rtl::sql_cat::b_string:  {max = std::max(cstr_t("b_string").size(), max); break;}
            {# default: // should be 'std::unreachable()', but it doesn't work in consteval
                static_assert(std::is_constant_evaluated() && false, "Missing case for new sql_cat value!");
                break; #}
            // clang-format on
          }
        return max;
      }
      /// --- <<class-name>> types init array  --------------------------------------
      span_buffer_dscr_init buffer_description_init() noexcept;
      /// --- dump    ---------------------------------------------------------------
      [[nodiscard]]std::string dump(uint8_t offs=0) const;
    private:
      /// --- members ---------------------------------------------------------------
##    for el in buf
      std::array< <<el.storage>>, buf_dim> <<el.name>>_{};
##    endfor
      /// --- length or NULL indicators ---------------------------------------------
      /// ------ positive values actual length --------------------------------------
      /// ------ SQL_NULL_DATA - sql null value -------------------------------------
##    for el in buf
      std::array<int32_t, buf_dim> len_<<el.name>>_{};
##    endfor
  }; // class <<class-name>> // -----------------------------------------------------